p
    <h3> A Graduate</h3>I graduated from the University of Glasgow with an honours degree in Computing science. Having spent 4 years there, I learned a great deal of subjects - Big Data, Machine learning, OOSE, web application development(Django), Information Retrieval, database systems, mathematics; I even studied History of Art!
p
    As well as study, I had the opportunity to lead classes of undergraduates in their lab work in both Java and Python, including marking the cumulative assessments that were worth approximately 50% of their final grade for that class.
p
    <h3>Moving on…</h3>while IR/ML based systems caught my eye in university, I quickly learned other aspects of CS to become more ‘full-stack’. So while I’m still more comfortable designing back-end software for distributed systems, I can now say I can just as easily develop a front-end application too, just like this website.*
p
    <h3>Preferred Tech</h3>I've used Java extensively on past projects - from back-end robust crawlers to spring applications - I've quickly moved onto different things. Right now I've been working on GoLang for back-end software and NodeJS/AngularJS for web application front-ends. 
p
    <h3>Outside</h3>of writing code and that I still go fly-fishing, play golf, and go to the gym 4 times a week - pretty regular stuff!
p.footnote
    | * Before I started this website I had zero-experience with NodeJS, and AngularJS. So this website was (and is) a learning exercise.
