
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title Starter Node and Angular
    link(rel='stylesheet', href='static/css/css.css')
    link(rel='stylesheet', href='static/css/theme.css')
    script(src='static/js/bundle.js')
block app
    div(ng-app="myApp")
        navigation
            ul(class="nav nav-pills")
                li: a(href='#/!') TraQ
                li: a(href='#!about') About
                li: a(href='#!invest') Investors
                li: a(href='#!join') Join
        ng-view
